# 불필요한 파일 및 폴더 무시
*.zip
*.pt

# 학습/결과 폴더 무시
firsttryruns/

# 특정 확장자의 결과 파일 무시
*.png
*.jpg
*.csv

# 파이썬 관련 일반적인 무시 항목
__pycache__/
*.pyc
.ipynb_checkpoints/

# Firebase Credentials (보안 위반 방지)
databaseuploading/fkey/

# TensorRT 및 빌드 아티팩트 무시
*.engine
runs/
inference_results/
cpp/build/